.renderer-container {
    background-color: var(--light-gray);
    box-sizing: border-box;
    height: 100%;
    font-size: 13px;
    flex: 3;
    margin-left: 5px;
    overflow: visible;
    padding: 15px 10px;
    position: relative;
    min-width: 350px;
}

@media screen and (max-width: 687px) {
    .renderer-container {
        margin-left: 0px;
        margin-top: 20px;
        padding: 15px 10px;
        min-width: 100%;
    }
}
